<%= render 'shared/banner' %>
<div class="container bg-dark-subtle">
  <div class="movies-lists">
    <% @lists.each do |list| %>
    <%= link_to list.name,  list_path(list), class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>

<%= cl_image_tag("tu3dhcpaapftwdudlcno",
      width: 400, height: 300, crop: :fill) %>
